<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- Font Awesome CDN -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  </head>
  <body ng-app="trialomicsWebApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- navbar container -->
    <div class="container" ng-controller="NavbarCtrl">

      <!-- navbar adapted from[http://bootsnipp.com/snippets/featured/admin-navigation] -->
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
            class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ng-href="#"><img src="images/brandLogo_26px.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-show="auth.user"><a href="#dashboard"><i class="fa fa-tachometer fa-lg"></i> My Data</a></li>
            <li ng-show="auth.user"><a href="#shared"><i class="fa fa-users fa-lg"></i> Shared Data</a></li>
            <li ng-show="auth.user" class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lightbulb-o fa-lg"></i> Feed <span class="label label-primary">3</span>
              </a>
              <ul class="dropdown-menu">
                <li><a href=""><span class="label label-warning">7:00 AM</span> tblau queried your data</a></li>
                <li><a href=""><span class="label label-warning">8:00 AM</span> pbecker uploaded a breast cancer dataset</a></li>
                <li><a href=""><span class="label label-warning">9:00 AM</span> rtmoon requested you share a dataset</a></li>
                <li class="divider"></li>
                <li><a href="" class="text-center">View All</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <!-- Login Link (show when not logged in) -->
            <li ng-hide="auth.user">
              <a href="" ng-hide="auth.user" ng-click="auth.$login('google')">Login</a>
            </li>

            <!-- User context dropdown (show when logged in) -->
            <li class="dropdown" ng-show="auth.user">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <img ng-src="{{auth.user.thirdPartyUserData.picture}}" class="user-pic"> {{auth.user.thirdPartyUserData.given_name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=""><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href=""><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="auth.$logout()">Logout</a></li>
              </ul>
            </li>


          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>
    </div>


    <div class="container" ng-view="">
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/shared.js"></script>
        <!-- endbuild -->

        <!-- Firebase CDN -->
        <script src="//cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
        <script src="//cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
        <script src="//cdn.firebase.com/js/simple-login/1.3.2/firebase-simple-login.js"></script>

</body>
</html>
