<div class="jumbotron" style="background-image: url(../images/flight.jpg);">
  <h2>The decision engine for biologists.</h2>
  <p class="lead">
    Maximize discovery from your data. Trialomics surfaces your most impactful findings, right away.
  </p>
</br></br></br>
  <p><a class="btn btn-lg btn-success pull-left" ng-href="#">Sign up for the Beta</a></p>
</div>

</br>
<div class="media">
  <a class="pull-left" ng-href="">
      <img class="media-object marketing-pic" src="images/analyticsLogo.png">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Customized Analytics</h4>
      We specialize in applying the power of data to basic and clinical research. Our 4TB genomic data resource brings the world’s data to you. Don't have any data of your own? No problem! We will work with you to identify and leverage existing data to help move your project forward.
    </div>
</div>

</br>
<div class="media">
  <a class="pull-left" ng-href="">
      <img class="media-object marketing-pic" src="images/repositoriesLogo.png">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Genomic Data Repositories</h4>
      We are building interactive systems that enable scientists without computational experience to work with genomic data through touch. Our systems run in modern web browsers, tablets, and mobile phones. Access our custom database through our APIs form anywhere.
    </div>
</div>

</br>
<div class="media">
  <a class="pull-left" ng-href="">
      <img class="media-object marketing-pic" src="images/applicationsLogo.png">
    </a>
  <div class="media-body">
    <h4 class="media-heading">Interactive Applications</h4>
    We are building interactive systems that enable scientists without computational experience to work with genomic data through touch. Our systems run in modern web browsers, tablets, and mobile phones. Access our custom database through our APIs form anywhere.
  </div>
</div>



<div class="row marketing">

</div>

<div class="footer">
  <p>2014 Trialomics LLC</p>
</div>
